<div class="container">
    <!-- <div *ngFor="let message of message$ | async" [ngClass]="{ 'right': message.name === 'You', 'left': message.name !== 'You' }"> -->
      <div *ngIf="message$ |async as message" [ngClass]="{'right': message.name === 'you', left: message.name !== 'you'}">
      {{ message.name }}: {{ message.message }}
    </div>
  </div>
  
  <div class="send">
    <form (ngSubmit)="sendMessage()">
      <input [(ngModel)]="messageInput" name="messageInput" placeholder="Type a message">
      <button class="btn" type="submit">Send</button>
    </form>
  </div> 