<!-- <app-login-page></app-login-page> -->

<!-- <app-chat-page></app-chat-page> -->

<!-- <app-main-page></app-main-page> -->
<router-outlet></router-outlet>


<!-- <app-profile-page></app-profile-page> -->

<!-- <app-root></app-root> -->

<!-- <nav>
  <ul>
    <li><a routerLink="/">Home</a></li> //i want to remove them
    <li><a routerLink="/profile">Profile</a></li> //i want to remove them
  </ul>
</nav> -->

<!-- Router outlet where the content of the current route will be displayed -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-form-page></app-form-page> -->