<div class="container">
    <div class="mentor-online">
        <table class="online-t">
            <tr class="content">
                <th>Name</th>
                <th>Field</th>
                <th>Rating</th>
            </tr>
            <tr class="data">
                <td>tranquil phoenix</td>
                <td>Finance</td>
                <td>4/5</td>
            </tr>
        </table>
    </div>
    <div class="mentor-offline">
        <table class="offline-t">
            <tr class="content">
                <th>Name</th>
                <th>Field</th>
                <th>Rating</th>
            </tr>
            <tr class="data">
                <td>tranquil phoenix</td>
                <td>Finance</td>
                <td>4/5</td>
            </tr>
        </table>
    </div>
</div>